.ca1 {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.6, 0, 0.4, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.6, 0, 0.4, 1);
  transition: transform 0.8s cubic-bezier(0.6, 0, 0.4, 1),
    -webkit-transform 0.8s cubic-bezier(0.6, 0, 0.4, 1);
  will-change: transform;
  font-size: 14px;
  position: relative;
  width: 100%;
  z-index: 10000;
  display: block;
  font-family: "LatoRegular", sans-serif;
  font-weight: 400;
  position: absolute;
}
.ca2 {
  color: #05cdff;
  font-size: x-large;
  font-style: oblique;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}
.ca3 {
  align-items: center;
  display: flex;
}
.ca4 {
  width: 150px;
  height: 110px;
  text-align: center;
  padding-top: 40px;
  left: 0;
  top: 0;
  z-index: 2;
  display: block;
  transform: translateY(-26px);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: transform;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  background-image: url("../img/img logo2.png");
}
.ca4:hover {
  transform: translateY(-10px);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ca5 {
  height: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.ca6 {
  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  width: 100%;
  height: 30px;
  /* position: relative; */
  margin: 0 auto;
  z-index: 1;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
}
.ca7 {
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
  overflow-y: visible;
  font-size: inherit;
  height: inherit;

  max-width: 1286px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ca9 {
  max-width: 1286px;
  width: 100%;

  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
  transform-origin: center bottom;
  transition: transform 300ms ease-in-out;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  overflow-x: visible;
  overflow-y: visible;
  font-size: inherit;
}
.dd-content {
  display: none;
  cursor: default;
  position: absolute;
  background-color: white;
  width: 986px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(1, 15, 60, 0.95);
  background: radial-gradient(
    ellipse farthest-side at center top,
    #283244 0%,
    rgb(1, 15, 60, 0.95) 100%
  );
  /* rgb(12, 71, 123,0.7); */
}
.dd-content-1 {
  display: none;
  cursor: default;
  position: absolute;
  background-color: white;
  width: 986px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -150px;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(1, 15, 60, 0.95);
  background: radial-gradient(
    ellipse farthest-side at center top,
    #283244 0%,
    rgb(1, 15, 60, 0.95) 100%
  );
}
.dd {
  cursor: default;
  text-align: center;
  white-space: nowrap;
  width: 150px;
  height: 100%;
  line-height: 30px;
  transition: color 0.3s, background 0.3s;
  color: lightcyan;
  font-size: 14px;
  text-decoration: unset;
  text-transform: uppercase;
  position: relative;
  border-right: 1px groove;
  display: inline-block;
}

.dd:hover .dd-content {
  display: block;
}
.dd:hover .dd-content-1 {
  display: block;
}
.dd:hover {
  color: white;
  text-decoration: unset;
  background-color: rgb(12, 71, 123, 0.7);
}
.dd a:hover {
  color: #05cdff;
  text-decoration: unset;
}
.animetion {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  animation-delay: 50ms;

  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion2 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;

  animation-delay: 100ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion3 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;

  animation-delay: 150ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion4 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;

  animation-delay: 200ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion5 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;

  animation-delay: 250ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion6 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  animation-delay: 300ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion7 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  animation-delay: 350ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion-1 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  animation-delay: 50ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
.animetion-2 {
  position: relative;
  animation-name: example;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
  text-decoration: none;
  color: lightcyan;
}
@keyframes example {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
#cnblock {
  width: 12px;
  cursor: default;
  padding-top: 2px;
}
#click-dropdown {
  position: relative;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
#show-dropdown {
  display: none;
  right: 2px;
  position: absolute;
  top:40px;
  min-width: 160px;
  z-index: 1;
  color: lightcyan;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('../img/img logo2.png')
}
#click-dropdown:hover #show-dropdown {
  display: block;
}
#btn-cnblock {
  background-color: transparent;
  border: none;
  outline: none;
}
#style-show-dropdown {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#syle-show-dropdown-div:hover {
  background-color: rgb(1, 15, 60, 0.5);
  cursor: pointer;
  height: 27px;
}
#syle-show-dropdown-div {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px
}
#div-text{
  color: lightcyan;
  margin-right: 2px;
  text-shadow: 2px 2px 4px #000000;
  cursor: default;
}
#click-dropdown:hover #div-text{
  text-decoration: underline;
  color: white;
}
#div-quest{
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  width: 150px;
  height: 100%;
  line-height: 30px;
  transition: color 0.3s, background 0.3s;
  color: lightcyan;
  font-size: 14px;
  text-decoration: unset;
  text-transform: uppercase;
  position: relative;
  border-right: 1px groove;
  display: inline-block;
}
#div-quest:hover{
  color: white;
  text-decoration: unset;
  background-color: rgb(12, 71, 123, 0.7);
}
#div-quest-a{
  transition: color 0.3s, background 0.3s;
  color: lightcyan;
  font-size: 14px;
}
#div-quest-a:hover{
  text-decoration: unset;
}
#div-quest-a:focus-within{
  text-decoration: unset;
}