.cf1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #1b2233;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cf2{
    color: #05cdff;
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}
.cf3{
    align-items: center;
    display: flex;
}
.cf4{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: -webkit-fill-available;
    background-image: -webkit-radial-gradient(center top, ellipse, #2c3448, #292f3f 30%, #22242c 50%);
}
.cf5{
    margin-bottom: 25px;
    /* font-size: 1rem; */
    position: relative;
    text-align: left;
}
.cf5-1:hover{
    border-color: #40a9ff;
    border-width: 1.25px;
}
.cf5-1{
    display: block;
    border: 1px solid #e1e1e5;
    font-size: 12px;
    color: #000000;
    background-color: #e1e1e5;
    padding-left: 31px;
    width: 247px;
    border-radius: 3px;
    line-height: 14px;
    padding-top: 2px;
    /* box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.2); */
    height: 36px;
    padding-left: 39px;
    width: 281px;
}
.cf5-1:focus{
    outline: none;
}
.cf7{
    display: block;
    height: 36px;
    border: none;
    border-radius: 3px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    background-color: #009ec5;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    width: 281px;
}
.cf9{
    font-size: x-large;
    font-weight: 400;
    color: #05cdff;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px #000000;
}
.sp{
    color: #dbdbdb;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    display: flex;
    width: 2.25em;
    justify-content: center;
    align-items: center;
    z-index: 4;
    /* margin-top: 2px; */
    margin-left: 6px;
}