.cu1{
  background-image: url('../img/home.jpg');
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
}
.cu2 {
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}
.cu3 {
  font-size: x-large;
  font-weight: 400;
  color: lightcyan;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.utb {
  color: lightcyan;
}
.react-bs-container-header {
  overflow: hidden;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgb(255,255,255,0.05);
}
.ubt {
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
  width: 80px;
  height: 29px;
  display:flex ;
  justify-content: center;
  align-items: center;
}
.ubt:hover {
  background-color: rgb(255, 94, 0,0.1);
}
.ubt:focus {
  outline: none;
}
.styles_modal__gNwvD {
    max-width: 800px;
    position: relative;
    padding: 1.2rem;
    /* background: #ffffff; */
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    background-image:url('../img/img logo.png');
    border-radius: 8px;
    background-size: cover;
    background-repeat: repeat;
}
.cro{
    color: lightcyan;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 280px;
}
.ubt2 {
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 29px;
    background-color: #009ec5;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
    text-transform: uppercase;
  }
  .ubt2:hover {
    box-shadow: inset 0px 0px 1px 0px #009ec5;
    /* text-decoration-line: underline; */
    background-color: rgba(255, 255, 255, 0.1);
    color: #009ec5;
  }
  .ubt2:focus {
    outline: none;
  }
  .cubt-insert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 34px;
    background-color: #53bddc;
    border-color: #28a4c9;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .cubt-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 34px;
    background-color: #60bf60;
    border-color: #459e45;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .cubt-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 34px;
    background-color: #efa741;
    border-color: #e38d13;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  