.csrl1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.csrl2 {
  width: 100%;
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
}
.csrl3 {
  font-size: x-large;
  font-weight: 400;
  color: lightcyan;
  margin: 0 20px 25px 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.csrbt {
  display: block;
  height: 36px;
  border: none;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  width: 132px;
}
