.csls1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
}
.csls2 {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.recharts-legend-wrapper {
  color: lightcyan;
}
.recharts-cartesian-axis-ticks {
  color: lightcyan;
}
