.clr1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
}
.clr2 {
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}
.clr3 {
  font-size: x-large;
  font-weight: 400;
  color: lightcyan;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
.lbt1 {
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.lbt1:hover {
  color: #05cdff;
  background-color: #ffffff;
  border-color: #05cdff;
}
.lbt2 {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: transparent;
  color: lightgreen;
}
.lbt3 {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: transparent;
  width: 67px;
  color: lightcoral;
}
.ltb {
  color: lightcyan;
}
