#style-page-quest-background {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#style-page-quest-window {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 225px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: default;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-image: url("../img/quest2.png");
  color: lightcyan;
  z-index: 2;
}

.flip-card-back {
  background-image: url("../img/quest2.png");
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#ccol {
  color: lightcyan;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#btn-confirm {
  border: none;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  height: 30px;
  top: 40px;
  outline: none;
}
#input-number-right {
  width: 50%;
  text-align: right;
  border: none;
  background-color: transparent;
  outline: none;
}
#input-number-left {
  width: 50%;
  outline: none;
  padding-left: 13px;
  text-align: left;
  border: none;
  background-color: transparent;
}
#block-input-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 9px;
}
#name-position {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
#head-quest-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#head-quest-style {
  color: lightcyan;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 500;
}
