.csp {
    /* border: 1px solid lightcyan; */
    width: 100%;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* box-shadow: none; */
  }
.csp1 {
    /* position: relative;
    animation-name: cpdt;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
    animation-timing-function: ease-out; */
    color: lightcyan;
    padding-top: 77px;
    text-align: center;
  }

.cspb {
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 29px;
    background-color: #009ec5;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
    text-transform: uppercase;
    margin: 30 px;
  }
  .cspb:hover {
    box-shadow: inset 0px 0px 1px 0px #009ec5;
    /* text-decoration-line: underline; */
    background-color: rgba(255, 255, 255, 0.1);
    color: #009ec5;
  }
  .cspb:focus {
    outline: none;
  }
  .csp-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 34px;
    background-color: #9b59b6;
    border-color:#8e44ad;
    
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }