.cfr1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.cfr2 {
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}
.cfr3 {
  color: lightcyan;
  margin-bottom: 25px;
  border-bottom: 2px solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 5px;
}
.cfr3-1 {
  font-size: x-large;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}
.cfr3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.5px;
  width: 85px;
  height: 34px;
  border-color: white;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
.cfr3-2:hover {
  color: aqua;
  text-decoration: none;
}
.cfr4 {
  width: 100%;
  /* height: 400px; */
  display: flex;
}
.cfr5 {
  border-left: 10px solid lightcyan;
  width: 20%;
  height: 100%;
  overflow: hidden;
}
.cfr6 {
  width: 30%;
  height: 100%;
  text-align: center;
}
.cfr7 {
  width: 25%;
  height: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.08);
}
.cfr8 {
  width: 100%;
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cfr9 {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cfr10 {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cfr11 {
  color: lightcyan;
  width: 100%;
  display: flex;
}
.cfr12 {
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  height: 30px;
  /* transform: translateX(-2px); */
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  display: flex;
  justify-content: space-between;
}
.cfr12:focus {
  background-color: #009ec5;
}
.cfr12:hover {
  border: 1px solid snow;
}
.cfr12-1 {
  margin-right: 20px;
}
.cfr13 {
  text-align: right;
  color: lightcyan;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 4px 0px;
}
/* .cfr12:hover {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: -webkit-transform 250ms
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */
.cfr15 {
  width: 25%;
  height: 234px;
}
.cfr14 {
  text-align: center;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: lightcyan;
}
.imgUpload {
  height: auto;
  width: 100%;
}
input[type="file"] {
  display: none;
}
.cmdc {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: large;
  color: lightcyan;
  text-transform: uppercase;
  font-weight: unset;
}
.cmdc2 {
  border-radius: 2px;
  border: none;
  width: 230px;
  padding-left: 5px;
  height: 31px;
  margin-bottom: 10px;
}
.cmdc3 {
  border: none;
  border-radius: 2px;
  color: white;
  width: 45%;
  height: 28px;
  background-color: #009ec5;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  text-transform: uppercase;
}
.cfr13::placeholder{
  color: lightcyan
}