.cc1 {
  background-image: url('../img/home.jpg');
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
}
.cc2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1196px;
}
.cc3 {
    font-size: x-large;
    font-weight: 400;
    color: lightcyan;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.cc4{
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
    color:lightcyan;
    font-size:15px;
    margin-bottom:4px;
    text-transform:none;
}
.cc5{
    color: lightcyan;
    text-decoration:underline;
}
.cc5:hover{
    color: aqua;
    text-decoration: none;
}
.ctb {
  color: lightcyan;
}
.edit {
  border: 1px solid #0084ff;
  border-radius: 5px;
  background-color: #0084ff;
  color: white;
  width: 80px;
  height: 29px;
}
.edit:hover {
  text-decoration-line: underline;
  background-color: white;
  border-color: #0084ff;
  color: #0084ff;
}
.edit:focus {
  outline: none;
}
.cbt{
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 29px;
  background-color: #009ec5;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  text-transform: uppercase;
}
.ccm{
  width: 260px;
  height: 100%;
  margin-top: 35px;
  max-width: 1196px;
}
.ccbt-insert{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 34px;
  background-color: #53bddc;
  border-color: #28a4c9;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
}
.ccbt-update{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 34px;
  background-color: #60bf60;
  border-color: #459e45;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
}
.ccbt-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 34px;
  background-color: #efa741;
  border-color: #e38d13;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
}
