.ch1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
.ch2 {
  width: 100%;
  max-width: 986px;
  margin-left: auto;
  margin-right: auto;
}
.ch3 {
  display: flex;
  justify-content: space-around;
  height: 300px;
  width: 100%;
}
.ch3-1 {
  width: 25%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.1); */
}
.ch3-2 {
  width: 37.5%;
  height: 100%;
  color: lightcyan;
  flex-direction: column;
  margin: 0 50px 0 0;
}
.ch3-2-0 {
  width: 100%;
  cursor: pointer;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: larger;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: lightcyan;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: solid 1px #92a7bf;
  text-decoration: underline;
}
.ch3-2-1 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-2-2 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-2-3 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-2-4 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-2-5 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-2-6 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
}
.ch3-3 {
  width: 37.5%;
  height: 100%;
  flex-direction: column;
  color: lightcyan;
  margin: 0 50px 0 0;
}
.ch3-3-1 {
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: larger;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: lightcyan;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: solid 1px #92a7bf;
  cursor: pointer;
  text-decoration: underline;
}
.ch3-3-2 {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #92a7bf;
}
.ch3-3-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
  width: 100%;
  height: 13%;
}
.ch3-3-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #92a7bf;
  width: 100%;
  height: 13%;
}
.ch3-3-5 {
  margin-top: 10px;
  text-transform: uppercase;
}
.ch3-3-5-1 {
  border-bottom: solid 1px #92a7bf;
  text-shadow: 2px 2px 5px cyan;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ch3-3-5-2 {
  border-bottom: solid 1px #92a7bf;
  text-shadow: 2px 2px 5px green;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ch3-3-5-3 {
  border-bottom: solid 1px #92a7bf;
  text-shadow: 2px 2px 5px red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ch3-3-5-4 {
  width: 100%;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: larger;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: lightcyan;
  justify-content: center;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: solid 1px #92a7bf;
  cursor: pointer;
  text-decoration: underline;
}
.chmdp {
  color: lightcyan;
  border: 1px solid;
  width: 775px;
  height: 400px;
}
.chmdp2 {
  width: 100%;
  height: 100%;
  display: flex;
}
.chblock {
  width: 250px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.chblock2 {
  width: 60%;
  border-right: 1px dashed;
  padding-left: 15px;
}
.chblock3 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  height: 100%;
}
#container-profile {
  padding: 2px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  color: lightcyan;
  height: 22%;
}
.ch3-1-img {
  width: 100%;
}
#size-profile {
  height: 78%;
  width: 100%;
  overflow: hidden;
}
.ubt2home {
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 29px;
  background-color: #009ec5;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  text-transform: uppercase;
}
.ubt2home:hover {
  box-shadow: inset 0px 0px 1px 0px #009ec5;
  /* text-decoration-line: underline; */
  background-color: rgba(255, 255, 255, 0.1);
  color: #009ec5;
}
.ubt2home:focus {
  outline: none;
}
