.cmr1 {
  background-image: url("../img/home.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.cmr2 {
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}
.cmr3 {
  color: lightcyan;
  margin-bottom: 25px;
  border-bottom: 2px solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 5px;
}
.cmr3-1 {
  font-size: x-large;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}
.cmr3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.5px;
  width: 85px;
  height: 34px;
  border-color: white;
  outline: none;
  border-radius: 4px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
.cmr3-2:hover {
  color: aqua;
  text-decoration: none;
}
.cmr4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cmr5 {
  /* border: 1px solid lightcyan; */
  width: 18%;
  /* height: 400px; */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cmr6 {
  /* border: 1px solid lightcyan; */
  width: 82%;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.cmr8 {
  color: lightcyan;
  width: 100%;
  margin: 5px;
}
.cmbt {
  border: none;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  border-radius: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
.cmbt:focus {
  background-color: #009ec5;
}
.cmbt:hover {
  border: 1px solid snow;
}
.cmbt3 {
  margin-right: 8px;
  border: none;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  height: 120px;
  border-radius: 55pc;
  outline: none;
  color: lightcyan;
  text-transform: uppercase;
}
.cmbt3:focus {
  background-color: #009ec5;
}
.cmbt3:hover {
  border: 1px solid snow;
}
.cmbt4 {
  border: none;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  height: 120px;
  border-radius: 55pc;
  outline: none;
  color: lightcyan;
  text-transform: uppercase;
}
.cmbt4:focus {
  background-color: #009ec5;
}
.cmbt4:hover {
  border: 1px solid snow;
}
.cpdt {
  position: relative;
  animation-name: cpdt;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
}
.cpdt2 {
  position: relative;
  animation-name: cpdt2;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
}
.cpdt3 {
  position: relative;
  animation-name: cpdt3;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
}
.cpdt4 {
  position: relative;
  animation-name: cpdt4;
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-delay: 100ms;
  animation-timing-function: ease-out;
}
@keyframes cpdt {
  from {
    top: -400px;
  }
  to {
    top: 0;
  }
}
@keyframes cpdt2 {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}
@keyframes cpdt3 {
  from {
    top: -400px;
  }
  to {
    top: 0;
  }
}
@keyframes cpdt4 {
  from {
    bottom: -400px;
  }
  to {
    bottom: 0;
  }
}
.picky-date-time-calendar__table {
  width: 281px;
}
.picky-date-time-calendar__table-row {
  height: 40px;
}
.picky-date-time-calendar__content {
  height: 282px;
}
.picky-date-time-calendar__header {
  color: lightcyan;
}
.picky-date-time-calendar__clicker {
  color: lightcyan;
}
.picky-date-time-calendar__table-cel.picky-date-time-calendar__date-item {
  position: relative;
  background-color: transparent;
  color: lightcyan;
  border: snow;
}
.picky-date-time-calendar__table-cel.no-border {
  border: none;
  color: lightcyan;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.picky-date-time-calendar__button {
  position: absolute;
  bottom: -40px;
  display: inline-block;
  color: lightcyan;
  cursor: pointer;
  padding: 5px 10px;
  /* border: 1px solid #ced4da; */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* background: #fff; */
}
/* .picky-date-time-calendar__inline-span{
  color: red;
  background-color: transparent;
} */

[class*=" picky-date-time"],
[class^="picky-date-time"] {
  font-family: picky-date-time !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.picky-date-time-calendar__button {
  position: absolute;
  bottom: -40px;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
  border: none;
}
.react-datepicker-ignore-onclickoutside {
  text-align: center;
}
.cinput {
  text-align: center;
  background-color: transparent;
  color: lightcyan;
  outline: none;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 4px 0px;
}
.cbtns {
  display: block;
  height: 36px;
  border: none;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  background-color: #009ec5;
  box-shadow: inset 0px 0px 1px 0px #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  width: 132px;
}
.cmrbt1 {
  border-radius: 2px;
  border: none;
  width: 140px;
  padding-left: 5px;
  height: 24px;
  margin-bottom: 10px;
}
.cmrbt2 {
  border-radius: 2px;
  border: none;
  width: 80px;
  height: 24px;
  margin-bottom: 10px;
  text-align: right;
}
.cpla::placeholder {
  color: lightcyan;
}
