.csw1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 34px;
    background-color: #53bddc;
    border-color: #28a4c9;
    
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .csw2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 34px;
    background-color: #49d295;
    border-color: #38a876;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .csw3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 34px;
    background-color: #efa741;
    border-color: #e38d13;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .csw4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 34px;
    background-color: #e74c3c;
    border-color:#c0392b;
    
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .csw-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 34px;
    background-color: #9b59b6;
    border-color:#8e44ad;
    
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  .cswb {
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 29px;
    background-color: #009ec5;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
    text-transform: uppercase;
    margin: 30 px;
  }
  .cswb:hover {
    box-shadow: inset 0px 0px 1px 0px #009ec5;
    /* text-decoration-line: underline; */
    background-color: rgba(255, 255, 255, 0.1);
    color: #009ec5;
  }
  .cswb:focus {
    outline: none;
  }
  .cswb1 {
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 29px;
    background-color: #009ec5;
    box-shadow: inset 0px 0px 1px 0px #ffffff;
    text-transform: uppercase;
    margin: 30 px;
    margin-top: 7px;
  }
  .cswb1:hover {
    box-shadow: inset 0px 0px 1px 0px #009ec5;
    /* text-decoration-line: underline; */
    background-color: rgba(255, 255, 255, 0.1);
    color: #009ec5;
  }
  .cswb1:focus {
    outline: none;
  }
  .csw-cw{
    width: 100%;
  }