.custom-select {
    margin-bottom: 14px;
    /* position: relative;
    font-family: Arial; */
    display: block;
    width: 361px;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .custom-select:hover {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
  .custom-area{
    margin-top: 14px;
    display: block;
    width: 361px;
    /* height: 34px; */
    padding: 6px 13px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  .custom-area:hover {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
  .custom-date{
    max-width: 174px;
    text-align: center;
    display: flex;
    width: 100%;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(26, 20, 20, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .custom-date:hover{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  
  }
  .custom-dateA{
    justify-content: space-between;
    display: flex;
  }

  .custom-button{
    margin-top: 14px;
    max-width: 174px;
    
    width: 100%;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: lightcyan;
    background-color: #34ace0;
    background-image: none;
    border: 1px solid #227093;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(26, 20, 20, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .custom-buttonA{
    justify-content: space-between;
    display: flex;
  }
  .custom-button:hover{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  
  }
  .custom-button:focus{
    outline: 0;
  
  }

  /* -------------------------------------------------------------- */
  .custom-button1{
    margin-top: 14px;
    max-width: 174px;
    
    width: 100%;
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: lightcyan;
    background-color: #ff5252;
    background-image: none;
    border: 1px solid #b33939;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(26, 20, 20, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  .custom-button1:hover{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  
  }
  .custom-button1:focus{
    outline: 0;
  
  }
  .button {
    
    border-radius: 5px;
    height: 30px;
    
  }
  .button:hover {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    background-color: rgba(255, 255, 255, 0.1);
    
  }

.size-slip {
  width: 362px;
  margin-left: 14px;
  margin-top: 50px;
  border-radius: 4px;
}
.size-slip:hover {
  border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


.custom-select1 {
  margin-top:14px;
  /* position: relative;
  font-family: Arial; */
  display: block;
  width: 361px;
  height: 34px;
  padding: 6px 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-select1:hover {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.box{
  display: flex;
}